/*
* @NOTE Classical
*/


    $main-background-color: #F8F6EB;
    $menu-background-color: #F8F6EB;
    $block-background-color: #FFF;
    $link-background-color: #F8F6EB;
    $highlight-background-color: #F8F6EB;
    $image-background-color: #222;
    $hover-background-color: rgba(100, 155, 255, 0.3);


    $hover-border-color: rgba(100, 155, 255, 0.3);
    $border-color-1: rgba(0, 0, 0, 0.06);
    $border-color-2: rgba(0, 0, 0, 0.03);
    $border-color-3: rgba(255, 255, 255, 0.6);


    $font-color-normal: #10145A;
    $font-color-bold: #eedd99;
    $font-color-highlight: #A52525;
    $font-color-link: #37CBE6;
    $box-shadow-color-1: rgba(0,0,0,0.05);
    $box-shadow-color-2: rgba(0,0,0,0.1);
    $box-shadow-color-3: rgba(0,0,0,0.75);


    $gradient-1a: rgba(255,255,255,0);
    $gradient-1b: rgba(0,0,0,0.3);






/*
* @NOTE Studio
*/
/*
    $main-background-color: #f9f9ff;
    $menu-background-color: #ddf;
    $block-background-color: #f0f0ff;
    $link-background-color: #F8F6EB;
    $highlight-background-color: #F8F6EB;
    $image-background-color: #111;
    $hover-background-color: rgba(100, 125, 255, 0.7);


    $hover-border-color: rgba(100, 125, 255, 0.7);
    $border-color-1: rgba(0, 0, 0, 0.1);
    $border-color-2: rgba(0, 0, 0, 0.1);
    $border-color-3: rgba(255, 255, 255, 0.1);


    $font-color-normal: #000;
    $font-color-bold: #33f;
    $font-color-highlight: #77c;
    $font-color-link: #f00;
    $box-shadow-color-1: rgba(0,0,0,0.05);
    $box-shadow-color-2: rgba(0,0,0,0.1);
    $box-shadow-color-3: rgba(0,0,0,0.75);


    $gradient-1a: rgba(0,0,0,0);
    $gradient-1b: rgba(255,255,255,0.03);
*/
