@mixin app-mixins-base {
    .v-hidden {
        display: none !important;
    }
    .v-fontello {
        font-family: 'fontello';
    }

    .v-box-shadow-medium {
        -webkit-box-shadow: 0px 0px 10px 1px $box-shadow-color-3;
        -moz-box-shadow: 0px 0px 10px 1px $box-shadow-color-3;
        box-shadow: 0px 0px 10px 1px $box-shadow-color-3;
    }

    .v-box-shadow-small {
        -webkit-box-shadow: 0px 0px 5px 0px $box-shadow-color-3;
        -moz-box-shadow: 0px 0px 5px 0px $box-shadow-color-3;
        box-shadow: 0px 0px 5px 0px $box-shadow-color-3;
    }

    .v-box-shadow-xsmall {
        -webkit-box-shadow: 0px 0px 2px 0px $box-shadow-color-3;
        -moz-box-shadow: 0px 0px 2px 0px $box-shadow-color-3;
        box-shadow: 0px 0px 2px 0px $box-shadow-color-3;
    }

    .v-flex-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .v-flex-zero {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .v-flex-one {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}

@mixin k-flex ($shrink, $grow, $basis) {
    -webkit-flex-shrink: $shrink;
    -ms-flex-shrink: $shrink;
    flex-shrink: $shrink;
    -webkit-flex-grow: $grow;
    -ms-flex-grow: $grow;
    flex-grow: $grow;
    -webkit-flex-basis: $basis;
    -ms-flex-basis: $basis;
    flex-basis: $basis;
}

@mixin k-flex-basis ($value) {
    -webkit-flex-basis: $value;
    flex-basis: $value;
}

@mixin k-flex-wrap ($value) {
    -webkit-flex-wrap: $value;
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin k-flex-direction ($value) {
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin k-flex-justify-content ($value) {
    -webkit-justify-content: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}

@mixin k-flex-order ($value) {
    -webkit-box-ordinal-group: $value;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: $value;      /* OLD - Firefox 19- */
    -ms-flex-order: $value;              /* TWEENER - IE 10 */
    -webkit-order: $value;               /* NEW - Chrome */
    order: $value;
}

@mixin bg-gradient-vertical {
    background: -moz-linear-gradient(top, $gradient-1a 0%, $gradient-1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $gradient-1a 0%,$gradient-1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $gradient-1a 0%,$gradient-1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
