
.icon-dot-3:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-docs:before { content: '\e803'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-left-dir:before { content: '\e805'; } /* '' */
.icon-right-dir:before { content: '\e806'; } /* '' */
.icon-up-dir:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-cancel-1:before { content: '\e809'; } /* '' */
.icon-github:before { content: '\e80a'; } /* '' */
.icon-vcard:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-cancel-2:before { content: '\e80e'; } /* '' */
.icon-indent-left:before { content: '\e80f'; } /* '' */
.icon-indent-right:before { content: '\e810'; } /* '' */
.icon-picture-1:before { content: '\e811'; } /* '' */
.icon-th-large:before { content: '\e812'; } /* '' */
.icon-heart:before { content: '\e813'; } /* '' */
.icon-heart-empty:before { content: '\e814'; } /* '' */
.icon-up-circle:before { content: '\e815'; } /* '' */
.icon-right-circle:before { content: '\e816'; } /* '' */
.icon-left-circle:before { content: '\e817'; } /* '' */
.icon-down-circle:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-linkedin-rect:before { content: '\e81a'; } /* '' */
.icon-github-circled:before { content: '\e81b'; } /* '' */
.icon-github-1:before { content: '\e81c'; } /* '' */
.icon-github-text:before { content: '\e81d'; } /* '' */
.icon-github-2:before { content: '\e81e'; } /* '' */
.icon-github-text-1:before { content: '\e81f'; } /* '' */
.icon-github-circled-alt2:before { content: '\e820'; } /* '' */
.icon-github-circled-alt:before { content: '\e821'; } /* '' */
.icon-github-circled-1:before { content: '\e822'; } /* '' */
.icon-github-3:before { content: '\e823'; } /* '' */
.icon-chrome:before { content: '\e824'; } /* '' */
.icon-firefox:before { content: '\e825'; } /* '' */
.icon-opera:before { content: '\e826'; } /* '' */
.icon-spin5:before { content: '\e827'; } /* '' */