@mixin app-scene-main-article {
    .v-article {
        border: 1px solid $border-color-1;
        background: $block-background-color;
        border-radius: 5px;
        margin: 10px 0 40px;

        .v-article-title {
            font-size: 30px;
            display: block;
            padding: 10px;
            text-align: center;
        }
        .v-article-description {
            border-top: 1px solid $border-color-1;
            border-bottom: 1px solid $border-color-1;
            padding: 10px;
            display: block;
            text-align: left;
            b {
                color: $font-color-bold;
                margin: 0 3px;
            }
        }
        .v-article-created-on {
            font-size: 8px;
            display: block;
            padding: 10px;
            text-align: center;
        }
    }
}
